.home {
    position:relative;
    display:block;
    justify-content: center;
    align-items: center;
    padding:0;
    margin:0;
    margin-top: 80vh;
    width:100vw;
    height:100vh;
    background: var(--col1);
    /* animation: enter-site 1s 0.5s forwards; */
}

.title {
    padding:0;
    margin:0;
    display:list-item;
    position:absolute;
    top:20%;
    left:10%;

    width:80%;
    height:20vh;
    /* background:red; */

}

.title h1 {
    position:relative;
    padding:0;
    margin:0;
    top:0;
    font-family: 'Krona One', sans-serif;
    font-size:10vw;
    color: white;
}

.title h2 {
    position:relative;
    padding:0;
    margin:0;
    font-family: 'Krona One', sans-serif;
    color:white;
    font-size:5vw;
    opacity: 0;
    animation: slide-in 1s 0.5s forwards;
}

@media (min-width:700px)
{
    .title h1 {font-size: 6vw}
    .title h2 {font-size: 3vw}
}

.home h1 {
    position:absolute;
    padding:0;
    margin:0;
    top:2vh;
    font-family: 'Krona One', sans-serif;
    font-size:3vw;
    color: white;
}

.home #enter-site {
    position:absolute;
    padding:0;
    margin:0;
    top:0;
    width:100%;
    height:20%;
    background:none;
}

#enter-site #entericon {
    font-size: 10vw;
    color: white;
}

/* #titles {
    position: absolute;
    width:50vw;
    height:20%;
    background: red;
} */

/* #titles h1 {
    position:absolute;
    top: 0;
    padding-bottom:2rem;
    margin:0;
    font-size:3em;
    font-family: 'Krona One', sans-serif;
    color: white;
} */

/* #titles h2 {
    position:absolute;
    bottom:0;
    padding-top: 1.5em;
    margin:0;
    font-family: 'Krona One', sans-serif;
    color: white;
    font-size: 2em;
} */

/* .background-top::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width:100vw;
    height:60vh;
    background: var(--top);
    filter: blur(5px);
    transform: translateY(30px) scale(1);
} */