body {
    margin:auto;
    padding:0;
    justify-content:center;
    align-items:center;
    display:block;
    background: var(--bodygradient);
    overflow:hidden;
    max-width: fit-content;
}

